doctype html
html 
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='Content-Security-Policy' content=`script-src 'self' cdnjs.cloudflare.com;`)
      link(href='/css/style.css' rel='stylesheet')
      link(href='/img/favicon.png' type='img/png' rel='shortcut icon')
      link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
      title Natours | #{title}

  
  body 
    //- HEADER
    include _header
      
    //- CONTENT
    block content 
      h1 This is a placeholder heading

    //- FOOTER
    include _footer
  
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    //- script(type='module' src='/js/index.js')
    //- script(src='https://js.stripe.com/v3/')
    script(type='module' src='/js/bundle.js')
    